
ImOrg/bin/Debug/AxInterop.WMPLib.dll
ImOrg/bin/Debug/ImOrg.exe
ImOrg/bin/Debug/ImOrg.exe.config
ImOrg/bin/Debug/ImOrg.pdb
ImOrg/bin/Debug/Interop.WMPLib.dll
ImOrg/obj/Debug/AxInterop.WMPLib.dll
ImOrg/obj/Debug/ImOrg.csproj.CoreCompileInputs.cache
ImOrg/obj/Debug/ImOrg.csproj.FileListAbsolute.txt
ImOrg/obj/Debug/ImOrg.csproj.GenerateResource.cache
ImOrg/obj/Debug/ImOrg.csproj.ResolveComReference.cache
ImOrg/obj/Debug/ImOrg.csprojAssemblyReference.cache
ImOrg/obj/Debug/ImOrg.exe
ImOrg/obj/Debug/ImOrg.Form1.resources
ImOrg/obj/Debug/ImOrg.pdb
ImOrg/obj/Debug/ImOrg.Properties.Resources.resources
ImOrg/obj/Debug/Interop.WMPLib.dll
.vs/ImOrg/v16/.suo
.vs/ImOrg/v16/Server/sqlite3/db.lock
.vs/ImOrg/v16/Server/sqlite3/storage.ide
.vs/ImOrg/v16/Server/sqlite3/storage.ide-shm
.vs/ImOrg/v16/Server/sqlite3/storage.ide-wal
